.main {
  margin: 0;
  background-color: white;
}

.header {
  padding: 0 20px;
}

.player {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  height: 270px;
  padding: 0 50px;
  margin: 0;
  background-color: #b43227;
  box-shadow: 0 0 22px -5px rgb(0 0 0 / 60%);
}

.youTubePlayer iframe {
  display: block;
}

.player-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  padding-left: 30px;
  background-color: #b43227;
}

.musicInfo {
  color: white;
}

.musicTitle {
  margin: 5px 0;
  font-size: 24px;
}

.musicArtist {
  font-size: 16px;
  color: #ebebeb;
}

.playerControls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  padding: 0px 20px;
  margin-top: 15px;
  user-select: none;
  background-color: #8f282d;
  filter: drop-shadow(0 0 0.1rem #db3a35);
  border-radius: 10px;
}

.controlIcon {
  padding: 10px;
  color: #faebe8;
  filter: drop-shadow(0 0 5px #000);
}

.controlIcon:hover {
  color: #fff;
}

.controlIconEnable {
  padding: 10px;
  color: #8f282d;
  background-color: #faebe8;
  filter: none;
  border-radius: 10px;
}

.controlIconEnable:hover {
  background-color: #fff;
}

.controlIcon:active {
  color: #fff;
  filter: none;
}

.songList {
  max-width: 1600px;
  padding: 0 40px 0 20px;
  margin: 20px auto 0;
  cursor: pointer;
}

.songList table {
  table-layout: fixed;
}

.sortIcon svg {
  display: inline-block;
  vertical-align: middle;
}

.songCursor {
  width: 20px;
}

.songCursor svg {
  display: inline-block;
  vertical-align: middle;
}

.songTitle {
  width: 30%;
  overflow: hidden;
}

.songArtist {
  width: 30%;
  overflow: hidden;
}

.songSource {
  overflow: hidden;
}

td.songSource {
  font-size: 0.8rem;
}

.songAction {
  width: 30px;
}

.githubStar {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}

/* for mobile */
@media screen and (max-width: 959px) {
  .header {
    padding: 0;
  }

  .player {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 0;
  }

  .player-side {
    display: block;
    width: 100%;
    padding: 0;
  }

  .musicInfo {
    display: flex;
    align-items: center;
    padding: 0 1em;
  }

  .musicTitle {
    align-self: center;
    margin-right: 0.5em;
    font-size: 14px;
  }

  .musicArtist {
    flex-shrink: 2;
    font-size: 12px;
  }

  .playerControls {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .songList {
    width: 100%;
    padding: 0;
    overflow-x: hidden;
  }

  .songList table {
    /* table-layout: auto; */
  }

  .songCursor {
    display: none;
  }

  .songTitle {
    width: 50%;
    overflow: hidden;
  }

  .songArtist {
    width: 50%;
    overflow: hidden;
  }

  .songAction {
    display: none;
  }

  .githubStar {
    display: none;
  }
}
